<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <title>Employee Management System</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand h1" href="#">EMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a  sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/employee">Employees</a>
                <a  sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/project">Projects</a>
                <a  sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" href="/cost">Costs</a>
                <a  sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/timecards">Time cards</a>
                <a  sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/logout">Log Out</a>
                <a  sec:authorize="!isAuthenticated()" class="nav-item nav-link" href="/login">Log In</a>
            </div>
        </div>
    </div>
</nav>

<div sec:authorize="isAuthenticated()">
    Logged user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
</div>

<div class="container mt-5">
    <h3>Time cards List</h3>
    <hr/>
    <!--Button add projects-->
    <a th:href="@{/timecards/add}" class="btn btn-primary bt-sm mb-3">
        Add Time card
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Hours</th>
            <th>Employee</th>
            <th>Project</th>
            <th>Comment</th>
            <th sec:authorize="hasAuthority('ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempTimecard: ${timecards}">
            <td th:text="${#dates.format(tempTimecard.date, 'dd-MMM-yyyy')}"></td>
            <td th:text="${tempTimecard.hours}"></td>
            <td>
                <div th:each="name : ${employeeNames}">
                    <div th:if="${name.key} == ${tempTimecard.employee_id}" th:text="${employeeNames[name.key]}"></div>
                </div>
            </td>
            <td>
                <div th:each="name : ${projectNames}">
                    <div th:if="${name.key} == ${tempTimecard.project_id}" th:text="${projectNames[name.key]}"></div>
                </div>
            </td>
            <td th:text="${tempTimecard.comment}"></td>

            <td sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/timecards/edit/{id} (id=${tempTimecard.id})}" class="btn btn-info bt-sm mb-3">
                    Edit
                </a>
                <a th:href="@{/timecards/delete/{id} (id=${tempTimecard.id})}" class="btn btn-danger bt-sm mb-3">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>